<div class="container">
  <h1 id="permanent-title" data-turbolinks-permanent>Pages#about</h1>
  <h2 data-turbolinks-recyclable>Recyclable</h2>
  <%= link_to "Home", root_path %>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <p>Find me in app/views/pages/about.html.erb</p>
  <%= link_to "Home", root_path, id: "bottom_link" %>
</div>
