<div class="container">
  <h1 id="permanent-title" data-turbolinks-permanent>Pages#home</h1>
  <h2 data-turbolinks-recyclable>Recyclable</h2>
  <%= link_to "About", about_path %>
  <%= link_to "target link", about_path, target: "_blank" %>
  <%= link_to "Flunk", flunk_path %>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Find me in app/views/pages/home.html.erb</p>
  <%= link_to "About",
              about_path,
              id: "bottom_link",
              data: { turbolinks: false } %>
  </div>
</div>
